[user]
    email = matt.waggoner@devfacto.com
    name = Matt Waggoner
[core]
    editor = vim
    pager = delta
    autocrlf = input
[alias]
    s = status
    stauts = status # cause typos ¯\_(ツ)_/¯
    c = commit
    co = checkout
    cm = commit -m
    dw = diff -w
    pom = push origin main
    lg = log --graph --topo-order --abbrev-commit -C -M --pretty=format:\"%Cred%h%Creset %ar by %C(yellow)%an%Creset %C(auto)%d %s\" --all
    new = log origin/main.. --reverse -C -M --pretty=format:\"<%Cred%h%Creset> %ad [%C(yellow)%an%Creset] %Cgreen%d%Creset %s\" --all --date=short
    pick = cherry-pick
    cleanup = "!git branch --merged | grep -v '\\*\\|master\\|dev\\|main' | xargs -n 1 git branch -d"
	root = rev-parse --show-toplevel
[color]
    ui = auto
[credential]
    helper = osxkeychain
[diff]
    algorithm = patience
[url "git@github.com:"]
    insteadOf = https://github.com/
[delta]
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    features = side-by-side line-numbers decorations
    syntax-theme = gruvbox
    line-numbers = true
    side-by-side = true
    hunk-header-hide = true

[interactive]
    diffFilter = delta --color-only

[delta "decorations"]
    commit-decoration-style = bold yellow
    file-style = bold yellow
    file-decoration-style = none
    hunk-header-style = omit

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
